{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} 
    
    {% endblock %}

    <link
      rel="stylesheet"
      href="{% static '/bootstrap/css/bootstrap.min.css' %}"
    />
    <script src="https://kit.fontawesome.com/b59fc43d0f.js" crossorigin="anonymous"></script>
    
  </head>


  <body>
    <div id="wrapper">
      <div class="d-flex flex-column" id="content-wrapper">

  
        <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary shadow mb-2">
          <div class="container-fluid ms-4">
            <a class="navbar-brand fw-bold" href="#">LMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% block navbar %}
              
              {% endblock %}


              {% block avatar %}
          
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user}}
                    <img class="rounded-circle w-25" src="{% static '/img/avatars/avatar1.jpeg' %}" />
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-danger" href="/logout/">Logout</a></li>

                  </ul>
                  

          
                </li>
              </ul>
              {% endblock %}
            </div>
          </div>
        </nav>


          {% block content %}
          {% endblock %}
        


        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright"></div>
          </div>
        </footer>
    </div>


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>




</html>
