{% extends 'panel/index.html' %}

{% load static %}

{% block head %}
<title>Return books</title>
<link rel="stylesheet" href="{% static '/css/sign-in.css' %}" />
{% endblock %}


{% block navbar %}
<ul class="d-flex navbar-nav align-items-center ms-auto">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books' %}">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'bookings' %}">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'students' %}">Students</a>
    </li>

    <li class="nav-item ms-3">
        <a class="btn btn-sm btn-outline-success" href="{% url 'addbook' %}">Add Book</a>
    </li>
    <li class="nav-item active ms-3">
        <a class="btn btn-sm btn-outline-success" href="{% url 'addstudent' %}">Add Student</a>
    </li>
  </ul>
  {% endblock %}



  {% block content %}
  <div class="mt-5">
    <div class="form-signin w-100 m-auto py-4 bg-body-tertiary shadow card">
      <h1 class="h3 mb-3 fw-semibold text-center py-3">Return Book</h1>
      <form method="post">
        {% csrf_token %}
        <p>Borrower: <b>{{borrow.borrower.fullname}}</b></p><hr>
        <p>Book: <b>{{borrow.book.title}}</b></p><hr>
        <p color="{{color}}">Due Date: <b>{{borrow.dueDate}}</b></p><hr>
        <p> Fine: <b>&nbsp;&nbsp;₹ {{borrow.fineAmount}}</b></p><hr>
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" >RETURN BOOK</button></div>
      </form>
    </div>
  </div>
  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endblock %}